

<!-- <div>
    <app-child-comp
      [emp1]="emp" (foodevent)="getDataFromChild($event)" (customerEvent)="getCustomersData($event)"></app-child-comp>
</div> -->
<!-- <ul *ngFor="let f of foods">
  <li>{{f}}</li>
</ul> -->
<!-- 
<div class="parentTable">
  <table>
      <tr *ngIf="!customers.length==0">
    <th>Sr.No.</th>
    <th>Name</th>
    <th>Mobile</th>
    <th>Vehicle Name</th>
    <th>Vehicle Type</th>
    <th>Vehicle Number</th>
  </tr>
  <tr *ngFor="let custD of customers, let i = index ">
    <td>{{i+1}}</td>
    <td>{{custD[i][0].custName}}</td>
    <td>{{custD[i][0].custMobile}}</td>
    <td>{{custD[i][0].custVehicle}}</td>
    <td>{{custD[i][0].custVehiType}}</td>
    <td>{{custD[i][0].custVehiNum}}</td>
  </tr>
</table>
</div> -->