<div class="card" style="width: 35rem; margin-left: 700px; height: 35rem; position: absolute; ">
    <img class="card-img-top" src="../../assets//images/tablet.webp" alt="Card image cap" style="position: relative; width: 300px; height: 400px">
    <div class="card-body">
      <h5 class="card-title">Tablet</h5><br>
      <h5>{{tabPrice | currency: 'INR'}}</h5>
      <p class="card-text">SAMSUNG Galaxy Tab S8+ With Stylus 8 GB RAM 128 GB ROM 12.4 inch with Wi-Fi Only Tablet (Silver)</p>
      <ul>
        <li>8 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
        <li>31.5 cm (12.4 inch) Full HD Display</li>
        <li>13 MP Primary Camera | 12 MP Front</li>
        <li>Android 12 | Battery: 10090 mAh</li>
        <li>Voice Call (No Sim)</li>
        <li>Processor: Octa-Core</li>

      </ul>
      





    </div>
  </div>