<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-attri></app-attri> -->
<!-- <app-parent-comp></app-parent-comp> -->
<!-- <select (change)="uid = sid.value" #sid>
<option selected disabled>No value selected</option>
<option [value]="id" *ngFor="let id of [1,2,3,4]" >{{id}}</option>
</select>
<div class="row">
    <div class="col-md-12">
<input type="text" (blur)="handleData($event)">
<p>Praduct Name: <input type="text" placeholder="Enter Product Name" [(ngModel)]=""></p>
<p>Praduct Price: <input type="text" placeholder="Enter Product Price" [(ngModel)]=""></p>
<button class="btn btn-primary" (click)="updateProduct()">Update Product</button>
</div>
</div>

<app-hooks [userid]="uid" [parentData]="data"></app-hooks> -->
<!-- <app-hooks></app-hooks> -->
<!-- <app-dirassign></app-dirassign> -->
<!-- <app-remove-row></app-remove-row> -->
<!-- <app-simple-templateform></app-simple-templateform> -->
<!-- <app-practiceparent></app-practiceparent> -->
<!-- <app-directives></app-directives> -->
<!-- <app-template-form></app-template-form> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-rf-ass></app-rf-ass> -->
<!-- <app-simpletemplate></app-simpletemplate> -->
<!-- <app-form-ass></app-form-ass> -->
<!-- <app-service1></app-service1> -->
<!-- <app-service2></app-service2> -->
<!-- <app-child-comp></app-child-comp> -->
<!-- <app-api-data></app-api-data> -->
<!-- <div class="row appcomp">
    <div class="col-md-6">
        <app-comp1></app-comp1>
    </div>
    <div class="col-md-6">
        <app-comp2></app-comp2>
    </div>
</div> -->
<!-- <app-comp3></app-comp3> -->
<!-- <app-comp4></app-comp4> -->
<!-- <app-pipe-demo></app-pipe-demo> -->
<!-- <app-pipe-ass></app-pipe-ass> -->
<!-- <app-filterpipe></app-filterpipe> -->
<!-- <app-pipe-ass2></app-pipe-ass2> -->
<!-- <app-routing-ass></app-routing-ass> -->
<header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item navbar"><a routerLinkActive="active myclass" routerLink="home" class="nav-link">Home</a></li>
            <li class="nav-item navbar"><a routerLinkActive="active myclass" routerLink="aboutus" class="nav-link">About Us</a></li>
            <li class="nav-item navbar"><a routerLinkActive="active myclass" routerLink="contactus" class="nav-link">Contact Us</a></li>
            <li class="nav-item navbar"><a routerLinkActive="active myclass" routerLink="products" class="nav-link">Product</a></li>
            <li class="nav-item navbar"><a routerLinkActive="active myclass" routerLink="posts" class="nav-link">Posts</a></li>
            <li class="nav-item navbar"><a routerLinkActive="active myclass" routerLink="electronics" class="nav-link">Electronics</a>
            <img src="../assets/images/electronics.webp" alt="electronics" height="50px" width="60px">
            </li>
            
        </ul>
    </nav>
</header>
<section>
    <router-outlet></router-outlet>
</section>
<!-- <app-navbars></app-navbars> -->
<!-- <app-demopost></app-demopost> -->