.appcomp{
    background-image: url(src/assets/background11.jpg);
     background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100.8vw;
}
.nav{
    width: 99vw;
    background-color: blue;
    margin-bottom: 1vh;
}
.navbar a{
    color: white;
    font-weight: bold;
}
.navbar .active{
    background-color: yellow;
    color: black;
}