<div class="row">
    <div class="col-md-3 form-group">
        <label class="form-label" for="Enterusername">Name:</label>
        <input type="text" class="form-control" [formControl]="userName">
    </div>
    <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
</div>
    <input class="btn btn-primary" type="submit" name="" id="">

<!-- <div>
    <div class="form-group">
        <label for="Enter user name"></label>
        <input type="text" class="form-control" [formControl]="userName">
    </div>
    <input type="submit" value="Add user" class="btn btn-primary">
</div> -->