<div class="mainDiv">
    <div class="mobilesDiv">
        <div class="row">
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            <div class="col-md-2 mt-4 text-center">
                <div class="row img">
                    <img class="col-md-12"  src="../../../assets/images/pococ31.webp" alt="mobile">
                </div>
                <label class="row"><strong>POCO C31 (Royal Blue, 64 GB)  (4 GB RAM)</strong></label>
                <h5 class="row" appCustdir [color]="'green'">&nbsp;&nbsp; {{pococ31 | currency:'INR'}}</h5>
            </div>
            
        </div>
    </div>
</div>