<!-- <div class="parentTable">
        <table>
            <tr>
                <th>Count</th>
                <th>Framework</th>
                <th>Action</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            <tr *ngFor="let e of event">
                <td style="background-color:blue" [style.background-color]="countValue >= 5 ? 'blue' : 'rgb(70, 92, 14)'" class="parentTabletd">{{e[0]}}</td>
                <td  style="background-color:blue" [style.background-color]="countValue >= 5 ? 'blue' : 'rgb(70, 92, 14)'" class="parentTabletd">{{e[1]}}</td>
                <td  style="background-color:blue" [style.background-color]="countValue >= 5 ? 'blue' : 'rgb(70, 92, 14)'" class="parentTabletd">{{e[2]}}</td>
                <td  style="background-color:blue" [style.background-color]="countValue >= 5 ? 'blue' : 'rgb(70, 92, 14)'" class="parentTabletd">{{e[3]}}</td>
                <td  style="background-color:blue" [style.background-color]="countValue >= 5 ? 'blue' : 'rgb(70, 92, 14)'" class="parentTabletd">{{e[4]}}</td>
            
            </tr>
        </table>
    </div>
     -->