.success{
    height: 70px;
    width: 565px;
    margin-left: 370px;
    color: black;
    text-align: center;
    background-color: rgb(87, 245, 89);
    border: 2px solid rgb(1, 114, 3);
    margin-top: 30px;
    font-size: 25px;
    line-height: 20px;
    
}
.mainSuccessDiv{
    text-align: center; width: 100%; height: 150px; margin-top: 50px;
}
h1{color: red; background-color: yellow;}